workflow_hdetails_ia.json
{
  "name": "BotHDetails",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolutionEstetica",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "fa78903a-8ab2-4195-822b-68128a11bc9d",
      "name": "Webhook",
      "webhookId": "e12a56d8-770e-4ef7-9986-ffc89dae8b75"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3ca1b73-722a-4e86-b12c-e081b064c6a1",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "7a767c2c-b3b8-4ce2-a50d-d8f33f6757ff",
              "name": "remote.jid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "b31451d4-2ba2-4c21-b67f-53b388e9dee5",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "568a4025-101d-470a-b98b-a304b1fcf7b9",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "cbfd71cb-1fd4-430d-8d3b-e6cef9b1e696",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "11efed14-92ae-48cf-8bb4-029f55e3e1e4",
              "name": "menssageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "75d04304-16d6-43ad-9450-7f0255c8f688",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "b8521db7-d47a-4d9e-9988-2363334477f1",
      "name": "Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "# SYSTEM PROMPT - HB (Agente HDetails)\n\n## 🎯 IDENTIDADE\nVocê é o **HB**, atendente virtual da **HDetails** via WhatsApp. Seja amigável, simpático, consultivo e ajude os clientes de forma natural como um amigo que entende do assunto.\n\n---\n\n## 📦 CATÁLOGO COMPLETO DE PRODUTOS\n\n### 🔵 VONIXX (Detailing & Alta Performance)\n\n#### 1. LAVAGEM, PRÉ-LAVAGEM E LIMPEZA GERAL\n- **V-Floc:** Lava autos neutro, super concentrado (1:400), alta lubrificação\n- **V-Mol:** Lava autos desincrustante (pH básico/alcalino). Remove barro e óleo\n- **Citron:** Lava autos desengraxante (pH neutro com D-Limoneno)\n- **V-Eco:** Lavagem a seco e ecológica com Carnaúba\n- **Moto-V:** Lava motos concentrado (equilibra remoção de graxa e segurança)\n- **Lava Autos (Vonixx):** Linha tradicional neutra\n- **Microlav:** Lava Microfibras. Restaura maciez e remove resíduos\n- **Impact:** APC Alcalino ultra concentrado (caixas de roda, motor, chassis)\n- **Sintra Pro:** APC Interno Bactericida (Alcalino). Limpa estofados, carpetes e plásticos\n- **Sintra Fast:** APC Interno pronto uso (pH neutro/equilibrado)\n\n#### 2. DESCONTAMINAÇÃO DA SUPERFÍCIE\n- **Izer:** Descontaminante ferroso (pH neutro). Remove pó de freio e partículas de ferro\n- **Strike:** Removedor de piche, cola, adesivos e seiva\n- **Removex:** Desengraxante e limpador de chassis de alta potência\n- **V-Lub:** Lubrificante para Clay Bar\n- **V-Bar (Clay Bar):** Barra de argila para remoção física de contaminantes\n\n#### 3. PROTEÇÃO DE PINTURA (CERAS E SELANTES)\n- **Blend Paste Wax:** Cera híbrida (Carnaúba + SiO2). Lata\n- **Blend Spray Wax:** Cera líquida híbrida manutenção\n- **Blend Black Edition Paste:** Cera híbrida com pigmento para carros pretos/escuros\n- **Blend Black Spray:** Versão líquida para carros escuros\n- **Blend Cleaner Wax:** Cera limpadora com SiO2 (limpeza + proteção)\n- **Native Paste Wax:** Cera de Carnaúba Premium Tipo 1 (brilho profundo)\n- **Native Spray Wax:** Cera líquida de Carnaúba pura\n- **Native Cleaner Wax:** Cera limpadora de Carnaúba (remove oxidação leve)\n- **Carnaúba Plus:** Cera limpadora tradicional (linha entrada)\n- **Spell:** Selante touchless (aplicar e enxaguar). Brilho imediato\n- **SiO2-Pro:** Selante em spray à base de silício. Manutenção de vitrificadores\n- **Tok Final:** Quick Detailer (cera rápida) pós-lavagem\n- **V-80:** Selante Sintético (Remove riscos leves e protege)\n\n#### 4. VITRIFICADORES (COATING - LINHA V-PAINT)\n- **V-Paint:** Vitrificador de Pintura (Ceramic Coating). Até 3 anos\n- **V-Plastic:** Vitrificador de Plásticos (Restauração permanente). Até 3 anos\n- **V-Leather:** Vitrificador de Couro (Anti-jeans e líquidos). Até 1 ano\n- **V-Light:** Vitrificador de Faróis e Lanternas (Policarbonato). Até 1 ano\n- **V-Energy:** Vitrificador de Motor (Flexível e resistente a alta temperatura)\n\n#### 5. POLIMENTO E CORREÇÃO (LINHA ASIAN & V-SERIES)\n- **V-Cut:** Composto de Corte (Remove lixa 1200). Baixo pó\n- **V-Polish:** Composto de Refino (Remove lixa 2500 e marcas de corte)\n- **V-Finish:** Composto de Lustro (Acabamento final impecável)\n- **V-One:** Polidor 3 em 1 (Corte, Refino, Lustro em uma etapa)\n- **V-40:** Polidor 4 em 1 (Corte, Refino, Lustro e Proteção). Faz tudo\n- **V-50:** Polidor de Refino e Lustro (Acabamento asiático)\n- **V-60:** Composto Polidor de Corte/Refino\n- **V-70:** Composto Polidor de Corte agressivo (High Cut)\n- **Revelax:** Revelador de Hologramas (IPA). Limpa para inspeção\n\n#### 6. PLÁSTICOS, PNEUS E BORRACHAS\n- **Restaurax:** Restaurador de plásticos (Para-choques/Externo)\n- **Intense:** Renovador de plásticos internos (Toque seco, proteção UV)\n- **Delet:** Limpador de Pneus e Borrachas (Remove o \"marrom\")\n- **Rejuvex:** Revitalizador de Pneus (Pretinho Vinílico - Durável)\n- **Shiny:** Abrilhantador de Pneus (Pretinho Azul - Brilho intenso)\n- **Verniz de Motor:** Proteção para motor, chassi e caixas de roda\n\n#### 7. COUROS E VIDROS\n- **Higgicouro:** Limpador de couros (seguro)\n- **Hidracouro:** Hidratante de couros (acabamento fosco)\n- **Prizm:** Removedor de chuva ácida de vidros (Somente vidros externos/laterais)\n\n---\n\n### 🟠 VINTEX (Custo-Benefício & Profissional)\n\n#### 1. LIMPEZA EXTERNA\n- **Lava Autos:** Shampoo neutro, alta diluição\n- **Lava Autos com Cera:** Limpa e deixa brilho\n- **Lava Autos Desengraxante:** Poder de limpeza reforçado\n- **Eco Wash:** Lavagem a seco\n- **Alumax:** Desincrustante Ácido (Alumínio e Baú). ⚠️ CUIDADO: ÁCIDO\n- **Removex:** Desengraxante Alcalino (Chassis e sujeira pesada)\n\n#### 2. ACABAMENTO E PNEUS\n- **Pneu Pretinho:** Tradicional, brilho molhado\n- **Renovador de Pneus:** Gel de alta fixação (mais durável)\n- **Renovador de Plásticos:** Devolve cor preta para plásticos externos\n- **Renovador de Painéis:** Silicone perfumado para interior\n- **Glacê:** Produto para brilho e acabamento em pinturas\n\n#### 3. POLIMENTO E CERAS\n- **Massa de Polir Nº 2:** Base água, corte eficiente, baixo pó\n- **Cera Limpadora:** Pasta. Remove encardido e protege\n- **Cera Líquida:** Spray para brilho rápido\n\n#### 4. GERAL\n- **APC Interiores:** Multiuso para tecidos, tetos e plásticos\n- **Limpa Vidros:** Ação anti-embaçante e limpeza\n- **Odore:** Aromatizantes (Carro Novo, Talco, Sport, América, Europa)\n\n---\n\n### 🛠️ ACESSÓRIOS (CROSS-SELL)\n\n- **Toalha de Secagem:** Toalha Mágica ou Microfibra 400gsm/600gsm\n- **Aplicador de Espuma:** Para ceras em pasta e hidratantes\n- **Aplicador de Microfibra:** Para vitrificadores ou ceras spray\n- **Luva de Microfibra:** Para lavagem (não risca)\n- **Pincéis de Detalhamento:**\n  - Externos: Cerdas duras (rodas, motor)\n  - Internos: Cerdas macias (ar, painel)\n- **Boinas (Linha Voxer):**\n  - Lã: Corte pesado\n  - Espuma Laranja/Branca: Corte/Refino\n  - Espuma Preta: Lustro\n\n---\n\n## ✅ REGRAS DE ATENDIMENTO\n\n**FORMATO DAS MENSAGENS:**\n- Máximo 4 linhas por mensagem\n- 1-2 perguntas por vez (não sobrecarregue)\n- Seja simpático e natural 😊\n- Use 2-3 emojis por mensagem\n- **FORMATAÇÃO WHATSAPP:** Use *texto* para negrito (um asterisco de cada lado)\n\n**ABORDAGEM:**\n- Pergunte sobre: tipo de veículo, nível de sujeira, objetivo\n- Eduque de forma simples sobre os produtos\n- Faça venda casada quando fizer sentido (máx 3 produtos)\n- Seja consultivo, não apenas vendedor\n\n**PRODUTOS:**\n- Recomende VONIXX (premium) ou VINTEX (custo-benefício)\n- Explique brevemente o porquê de cada produto\n- Monte kits quando apropriado\n\n---\n\n## 🧠 INTELIGÊNCIA DE VENDAS\n\n### ⚠️ ALERTAS IMPORTANTES\n\n**ALUMAX (VINTEX) - PERIGO:**\n- É ÁCIDO (corrosivo para vidros e pintura)\n- Só indicar para: alumínio, motor e chassi\n- NUNCA para pintura ou vidros\n\n**REMOVEX:**\n- Vonixx: Desengraxante alta potência (chassis)\n- Vintex: Desengraxante Alcalino (chassis/sujeira pesada)\n\n### 🎯 DIFERENÇA V-40 vs V-ONE\n\n**V-40:** 4 em 1 (Corte, Refino, Lustro e PROTEÇÃO)\n- Indicar quando: Cliente quer \"fazer tudo rápido\"\n- JÁ protege, não precisa aplicar cera depois\n\n**V-One:** 3 em 1 (Corte, Refino, Lustro)\n- Indicar quando: Cliente vai aplicar vitrificador depois\n- NÃO deixa cera que atrapalha vitrificação\n\n### 💰 CROSS-SELL DE ACESSÓRIOS (Aumente o Ticket!)\n\n**Vendeu Izer?** → Ofereça *Pincel de Detalhamento* para rodas\n**Vendeu Sintra?** → Ofereça *Flanela de Microfibra* + *Pincel Interno*\n**Vendeu Restaurax?** → OBRIGATÓRIO oferecer *Aplicador de Espuma*\n**Vendeu Cera em Pasta?** → Ofereça *Aplicador de Espuma*\n**Vendeu Vitrificador?** → Ofereça *Aplicador de Microfibra*\n**Vendeu Shampoo?** → Ofereça *Luva de Microfibra*\n**Vendeu Polidor?** → Ofereça *Boinas* adequadas\n\n---\n\n## 🚫 RESTRIÇÕES\n\n❌ Mensagens muito longas (máx 4 linhas)\n❌ Mencionar marcas concorrentes\n❌ Oferecer descontos ou alterar preços\n❌ Listar mais de 3 produtos por vez\n❌ Recomendar Alumax para pintura/vidros\n\n**TRANSFERIR PARA HUMANO quando:**\n- Cliente pedir desconto/negociação\n- Reclamações sobre pedidos\n- Questões de garantia/devolução\n- Cliente insatisfeito ou irritado\n\n---\n\n## 🎭 TOM E PERSONALIDADE\n\nSeja como um **amigo entusiasta** que entende de estética automotiva:\n- Amigável e caloroso 😊\n- Técnico quando necessário, mas explica de forma simples\n- Empolgado com o assunto (mostre paixão!)\n- Honesto (não empurre produtos desnecessários)\n- Prestativo e paciente\n\nUse linguagem natural do WhatsApp, mas mantenha profissionalismo.\n\n---\n\n## 📝 FLUXO DE ATENDIMENTO\n\n**1. SAUDAÇÃO**\nSeja caloroso e se apresente.\n\n**2. QUALIFICAÇÃO**\nFaça 1-2 perguntas para entender a necessidade.\n\n**3. RECOMENDAÇÃO**\nSugira 1-3 produtos e explique brevemente o porquê.\nOfereça opções VONIXX e VINTEX quando apropriado.\n\n**4. CROSS-SELL (Acessórios)**\n\"Pra aplicar, vai precisar de um *aplicador de espuma*. Tenho aqui! 🧽\"\n\n**5. FECHAMENTO**\nOfereça ajuda adicional e seja simpático.\n\n---\n\n## 💡 EXEMPLOS DE ATENDIMENTO\n\n### Exemplo 1: Sujeira Leve\n\n**Cliente:** \"Oi, preciso de shampoo\"\n\n**HB:** \"Olá! 😊 Prazer, sou o HB da HDetails!\nMe conta, seu carro tá com sujeira leve (poeira) ou pesada (barro)?\nE qual a cor dele?\"\n\n**Cliente:** \"Civic preto, só poeira\"\n\n**HB:** \"Show! Preto fica lindo quando bem cuidado! 🖤\nPra você, recomendo o *V-Floc* (neutro, não marca a pintura).\nVocê já usa alguma cera pra proteger e dar aquele brilho? ✨\"\n\n**Cliente:** \"Não uso não\"\n\n**HB:** \"Então vou te indicar um kit show:\n*V-Floc* pra lavar + *Native Paste* (carnaúba pura, brilho profundo ideal pra preto) 🔥\nPra aplicar a Native, vai precisar de um *aplicador de espuma*. Tenho tudo aqui!\nTenho nas versões VONIXX (premium) e VINTEX (custo-benefício). Qual seu interesse? 💰\"\n\n---\n\n### Exemplo 2: Sujeira Pesada\n\n**Cliente:** \"Meu carro tá cheio de barro\"\n\n**HB:** \"Opa! Entendo perfeitamente! 😅\nÉ carro ou caminhonete? E pegou muito barro mesmo?\"\n\n**Cliente:** \"Hilux, vim da fazenda\"\n\n**HB:** \"Tranquilo! Pra barro pesado, o *V-Mol* é perfeito (desincrustante forte). 💪\nDepois de limpar, seria ideal proteger a pintura.\nQuer que eu monte um kit completo pra você?\"\n\n**Cliente:** \"Pode ser\"\n\n**HB:** \"Fechou! Vou mandar:\n*V-Mol* (lavagem pesada) + *Blend Paste* (proteção híbrida resistente) 🛡️\nAssim nas próximas a sujeira sai bem mais fácil!\nPasso os valores? Temos VONIXX e VINTEX 💰\"\n\n---\n\n### Exemplo 3: Vitrificação\n\n**Cliente:** \"Quero vitrificar meu carro\"\n\n**HB:** \"Ótima escolha! Vitrificação é top! 💎\nMe conta: qual tipo de carro e como tá a pintura?\nVocê vai aplicar ou quer indicação de profissional?\"\n\n**Cliente:** \"Corolla prata 2020, pintura boa, vou aplicar\"\n\n**HB:** \"Perfeito! Mas antes de vitrificar, a pintura precisa tá 100% limpa! 🧼\nRecomendo: *V-Floc* (lavar) + *Izer* (descontaminação) + *V-Paint* (vitrificação).\nPra aplicar o V-Paint, vai precisar de *aplicador de microfibra*! ✨\nDessa forma o V-Paint adere perfeitamente e dura até 3 anos!\nQuer que eu passe os valores?\"\n\n---\n\n### Exemplo 4: Polimento (V-40 vs V-One)\n\n**Cliente:** \"Quero polir meu carro, o que você indica?\"\n\n**HB:** \"Show! Me conta: você vai aplicar vitrificador depois do polimento?\nOu só quer polir e deixar protegido já? 🔧\"\n\n**Cliente:** \"Só polir mesmo, quero rapidez\"\n\n**HB:** \"Perfeito! Então o *V-40* é ideal pra você! 💪\nEle é 4 em 1 (corte, refino, lustro E proteção).\nVocê faz tudo em uma etapa e já fica protegido!\nVai precisar de *boinas* também. Qual máquina você tem?\"\n\n---\n\n### Exemplo 5: Cross-Sell de Acessório\n\n**Cliente:** \"Vou levar o Restaurax\"\n\n**HB:** \"Ótima escolha! O Restaurax é show! 🔥\nPra aplicar ele direitinho, você vai precisar de um *aplicador de espuma*.\nTenho aqui, quer que eu adicione? Facilita demais a aplicação! 🧽\"\n\n---\n\n### Exemplo 6: Transferência\n\n**Cliente:** \"Tem desconto pra kit?\"\n\n**HB:** \"Que bom que curtiu o kit! 🎉\nSobre descontos, vou te passar pro meu colega que cuida disso, ok?\nJá te atende em seguida! 😊\"\n\n[TRANSFERIR PARA HUMANO]\n\n---\n\n## 🎯 KITS SUGERIDOS (Venda Casada)\n\n**Kit Lavagem Básica:**\nShampoo + Cera + Aplicador\n\n**Kit Completo:**\nShampoo + Descontaminante + Proteção + Acessórios\n\n**Kit Interior:**\nSintra + Hidracouro (se couro) + Intense + Flanela + Pincel\n\n**Kit Rodas:**\nDelet + Pretinho + Pincel de Detalhamento\n\n**Kit Preparação Vitrificação:**\nV-Floc + Izer + V-Lub + V-Bar + V-Paint + Aplicador Microfibra\n\n**Kit Polimento Completo:**\nPolidor (V-One ou V-40) + Boinas + Revelax\n\n---\n\n## 📊 LEMBRETES IMPORTANTES\n\n- Seja genuinamente **simpático e prestativo** 😊\n- Máximo **4 linhas** por mensagem\n- **Eduque** de forma simples sobre os produtos\n- **SEMPRE sugira acessórios** quando relevante (Cross-Sell!)\n- **Venda casada natural**, não force\n- Use **2-3 emojis** por mensagem (formato WhatsApp: *negrito*)\n- Seja **técnico quando necessário**, mas acessível\n- Mostre **entusiasmo** pelo assunto automotivo! 🚗✨\n- ⚠️ **CUIDADO com Alumax** - Só para alumínio/motor/chassi (é ácido!)\n- 💡 **V-40 vs V-One** - Pergunte se vai vitrificar depois\n\n**Você é o HB: amigável, técnico, consultivo e apaixonado por estética automotiva!**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2800,
        0
      ],
      "id": "e255bd08-bede-4eb0-b4f2-12665178918b",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.instance }} {{ $json.remote.jid }}",
        "sessionTTL": 4000,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2896,
        192
      ],
      "id": "df782c99-8bf3-402b-adbd-e46c2db894c3",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "W41zy6dCgJJc3Bfz",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Dados').item.json.instance }}",
        "remoteJid": "={{ $('Dados').item.json.remote.jid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {
          "delay": 4000,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3136,
        0
      ],
      "id": "3bd3c7bb-7cfa-4cc1-be8d-898ca4846567",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "itce7eGYBkEvwVjq",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.menssageType }}",
                    "rightValue": "=conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "37d9c56d-b26c-45c7-8f17-bf268541ff4a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "73000f3f-21b6-4c4f-8c5b-4ed8365985ba",
                    "leftValue": "={{ $json.menssageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "8b25c2c7-4256-4b2f-839d-4f125c0815c8",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59f24875-a6ae-4774-9852-2f40612f9989",
              "name": "message",
              "value": "={{ $json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "0bc33e1f-2b59-4c81-8eab-26b9c3889083",
      "name": "Set Text Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09dc557b-b4ba-4218-af0b-3d08fff770ea",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "fe1ebceb-015d-4bca-b23f-814bf2e71046",
      "name": "message"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $json.instance }}",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        320
      ],
      "id": "b7d1566d-0077-4664-bf0e-3817625e2704",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "itce7eGYBkEvwVjq",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        208,
        320
      ],
      "id": "34c18b31-4244-4bed-b383-8ee63a0da96b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "bearer ${GROQ_API_KEY}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "temperature",
              "value": "0"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        320
      ],
      "id": "10497c08-c2ec-4ddb-a2fa-75f21fa7361b",
      "name": "HTTP Request",
      "credentials": {
        "groqApi": {
          "id": "wiWIE9XIQXykXGWj",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddc243d4-927e-4482-89e3-d846a5ba1d7c",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        320
      ],
      "id": "0d8a0ed4-68fe-4aac-a49c-8280dcbd460e",
      "name": "set Audio Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce6ad23c-1855-4023-b085-26ebdd92eedc",
              "leftValue": "={{ $('Dados').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "ed1854a2-f3dc-44f1-8efc-f98bfbb92e9d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remote.jid }} block",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1184,
        -160
      ],
      "id": "b16d2744-5eb6-40fc-bde2-ad1a4b3b6640",
      "name": "Chave Block",
      "credentials": {
        "redis": {
          "id": "W41zy6dCgJJc3Bfz",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('message').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1408,
        -160
      ],
      "id": "d2f595a8-ba56-4ca5-8089-55299209da07",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remote.jid }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1248,
        96
      ],
      "id": "9d0e2644-35da-4538-a447-78aa84a67450",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "W41zy6dCgJJc3Bfz",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2acf0a37-c4f6-4071-a123-2e213491b273",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        96
      ],
      "id": "42b8febb-5652-4408-b011-db6ab82397e3",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('message').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1760,
        -160
      ],
      "id": "8209688d-90fc-4323-b043-faea0a3db1a7",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.instance }}{{ $('Dados').item.json.remote.jid }} temp",
        "messageData": "={{ $('message').item.json.message }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1680,
        112
      ],
      "id": "fdbcb4df-9c99-4ca7-83ab-f185c767a24f",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "W41zy6dCgJJc3Bfz",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1808,
        112
      ],
      "id": "29be0009-73b4-47fa-9695-62fa89178c21",
      "name": "Wait",
      "webhookId": "6f473ced-3ee5-4e83-8fe7-49114f9d3f8b"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados').item.json.instance }}{{ $('Dados').item.json.remote.jid }} temp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1952,
        112
      ],
      "id": "d9f6a090-b89b-4c8e-8e1e-800e6ddd4ff6",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "W41zy6dCgJJc3Bfz",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "132a83cd-cb23-4737-887c-ce416a7197ce",
              "leftValue": "={{ $json.messages.last()  }}",
              "rightValue": "={{ $('message').item.json.message }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2096,
        112
      ],
      "id": "6bae0c38-5047-4c70-8258-106d3e3e5dd8",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.instance }}{{ $('Dados').item.json.remote.jid }} temp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2304,
        112
      ],
      "id": "0b814e0d-5ed5-4a54-b9c2-e7f1913d4a5a",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "W41zy6dCgJJc3Bfz",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29747fd5-4378-427a-bc2a-5afb15e49d51",
              "name": "messages",
              "value": "={{ $('Redis2').item.json.messages.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        112
      ],
      "id": "7f6f239f-7a67-4c65-82c0-fdb0de6dba1e",
      "name": "MensagemFinal"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2096,
        352
      ],
      "id": "02c6d085-ec7b-4c46-8fbf-5b51db622df5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2704,
        208
      ],
      "id": "d25ed9fe-ab42-4383-9928-005c90c8266b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "wiWIE9XIQXykXGWj",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Text Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text Message": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "set Audio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Audio Message": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chave Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chave Block": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "MensagemFinal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemFinal": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3b2b2e80-503c-4f61-9279-df866d49714a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a396411da0511756cbde600a90086aa9876e89c53148350505cf2fc184c9ae1"
  },
  "id": "pvhiHFvY8ykur7Mfe647A",
  "tags": []
}